<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <head th:fragment="css_Base">
        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{../images/trado.png}">
        <!-- Bootstrap Css -->
        <link th:href="@{../css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link th:href="@{../css/icons.min.css}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link th:href="@{../css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />
    </head>
</body>
</html>