<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <body>
    <div th:fragment="side_bar" class="vertical-menu" style="background-color: #104909;">
      <div data-simplebar class="h-100">

      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu">
          <li class="menu-title">Menu</li>

          <li>
            <a href="/adminzonal/dashboard" class="waves-effect">
              <i class="ri-dashboard-line"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li>
            <a href="#" class=" waves-effect">
              <i class="ri-user-2-fill"></i>
              <span>Agentes de compra</span>
            </a>
          </li>

          <li>
            <a href="/adminzonal/fechasArribo" class=" waves-effect">
              <i class="ri-calendar-2-line"></i>
              <span>Fechas de arribo</span>
            </a>
          </li>


          <li>
            <a href="/adminzonal/reposicionProductos" class=" waves-effect">
              <i class=" ri-user-voice-line"></i>
              <span>Reposición de productos</span>
            </a>
          </li>
          <li>
            <a href="/adminzonal/faq" class=" waves-effect">
              <i class="mdi mdi-help-circle-outline"></i>
              <span>Preguntas frecuentes</span>
            </a>
          </li>

        </ul>
      </div>

      <!-- Sidebar -->
    </div>
    </div>
  </body>
</html>