<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <body>
    <div th:fragment="side_bar" class="vertical-menu" style="background-color: #104909;">
      <div data-simplebar class="h-100">

      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu">
          <li class="menu-title">Menu</li>

          <li>
            <a href="/adminzonal/dashboard" class="waves-effect">
              <i class="ri-dashboard-line"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="menu-title">Productividad</li>
          <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
              <i class="ri-user-2-fill"></i>
              <span>Agentes de Compra</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li><a href="/adminzonal/nuevoAgente">Nuevo Agente</a></li>
              <li><a href="/adminzonal/gestionAgente">Gestión de Agentes</a></li>
            </ul>
          </li>
          <li class="menu-title">Productos</li>
          <li>
            <a href="/adminzonal/fechasArribo" class=" waves-effect">
              <i class="ri-calendar-2-line"></i>
              <span>Fechas de arribo</span>
            </a>

          </li>


          <li>
            <a href="/adminzonal/reposicionProductos" class=" waves-effect">
              <i class=" ri-user-voice-line"></i>
              <span>Reposición de productos</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li><a href="auth-login.html">Productos en stock</a></li>
              <li><a href="auth-register.html">Productos sin stock</a></li>
            </ul>
          </li>

          <li class="menu-title">Sistema</li>
          <li>
            <a href="/adminzonal/faq" class=" waves-effect">
              <i class="mdi mdi-help-circle-outline"></i>
              <span>Preguntas frecuentes</span>
            </a>
          </li>

        </ul>
      </div>

      <!-- Sidebar -->
    </div>
    </div>
  </body>
</html>