<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <title>Agent New</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS BASE -->
  <meta th:replace="~{Common/cssBase :: css_Base}">
  <!-- End CSS BASE -->
</head>

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">

  <!-- ========== NavBar Start ========== -->
  <header th:replace="AdminZonal/fragments/navbar :: nav_bar"></header>
  <!-- Navbar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div th:replace="AdminZonal/fragments/sidebar :: side_bar"></div>
  <!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">Registro de un Agente</h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                  <li class="breadcrumb-item active">Agent Management</li>
                  <li class="breadcrumb-item active">Agent New</li>
                </ol>
              </div>

            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Registro de un nuevo Agente</h4>
                <p class="card-title-desc"> Complete la información requerida para registrar un nuevo agente en el sistema. Todos los campos son obligatorios.</p>

                <form class="needs-validation" novalidate>
                  <!-- Nombre y Apellidos -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="validationCustom01" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="validationCustom01"
                               placeholder="First name"  >

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="validationCustom02" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="validationCustom02"
                               placeholder="Last name"  >
                      </div>
                    </div>
                  </div>
                  <!-- Datos personales -->
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label for="validationCustom03" class="form-label">Documento de identificación</label>
                        <input type="text" class="form-control" id="validationCustom03"
                               placeholder="ID"  >

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label for="validationCustom04" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="validationCustom04"
                               placeholder="Phone number"  >

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label for="validationCustom05" class="form-label">Correo electrónico</label>
                        <input type="text" class="form-control" id="validationCustom05"
                               placeholder="Email"  >

                      </div>
                    </div>
                  </div>
                  <!-- Requisitos -->
                  <div class="row">
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label for="validationCustom06" class="form-label">Código de despachador</label>
                        <input type="text" class="form-control" id="validationCustom06"
                               placeholder="E.g DPC-04012">

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label for="validationCustom07" class="form-label">RUC</label>
                        <input type="text" class="form-control" id="validationCustom07"
                               placeholder="E.g 12345678901"  >

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label for="validationCustom08" class="form-label">Razón Social</label>
                        <input type="text" class="form-control" id="validationCustom08"
                               placeholder="Social reason"  >

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3">
                        <label for="validationCustom09" class="form-label">Código de Juridicción</label>
                        <input type="text" class="form-control" placeholder="E.g JUR-001" id="validationCustom09">

                      </div>
                    </div>
                  </div>

                  <!-- Ubicación -->
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label for="validationCustom10" class="form-label">Zona</label>
                        <input type="text" class="form-control" id="validationCustom10"
                               placeholder="Norte" required disabled >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label for="validationCustom11" class="form-label">Districto</label>
                        <select class="form-select" id="validationCustom11" >
                          <option selected disabled value="">States </option>
                          <option>Ancón</option>
                          <option>Santa Rosa</option>
                          <option>Carabayllo</option>
                          <option>Puente Piedra</option>
                          <option>Comas</option>
                          <option>Los Olivos</option>
                          <option>San Martín de Porres</option>
                          <option>Independencia</option>
                        </select>


                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label for="validationCustom12" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="validationCustom12"
                               placeholder="Address" >
                      </div>
                    </div>

                  </div>
                  <div>
                    <a class="btn btn-primary" type="submit" href="/adminzonal/gestionAgente">Guardar</a>
                  </div>
                </form>
              </div>
            </div>
            <!-- end card -->
          </div> <!-- end col -->
        </div>

      </div> <!-- container-fluid -->


    </div>
    <!-- End Page-content -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <script>document.write(new Date().getFullYear())</script> © TRADO.
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Crafted with <i class="mdi mdi-heart text-danger"></i> by TelesoftGT
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end main content-->
</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT BASE-->
<span th:replace="~{Common/jsBase :: js_Base}"></span>
<!-- End JAVASCRIPT BASE-->
</body>

</html>